@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background-color: transparent;
  height: auto;
}
.navbar.active {
  background: transparent;
  box-shadow: 0 8px 32px 0 #222a5b;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.mobileNavbar {
  background: transparent;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}
.contact_background {
  display: flex;
  width: 80vw;
  margin: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}
.icon-wrapper:hover .icon{
  color: white;
}
